# Database
DATABASE_URL=

# API Security
API_KEY=

# MQTT Broker
MQTT_BROKER_HOST=
MQTT_BROKER_PORT=1883
MQTT_TOPIC=
MQTT_USERNAME=
MQTT_PASSWORD=

# Device message signature
MESSAGE_SECRET=
"@ | Set-Content .\backend\.env.example